<button class="menuButton topButton" ng-click="settings()">NEW GAME</button>
<table class="mainGrid">
    <tr>
        <td><button ng-click="makeMove(0)">{{currentGrid[0]}}</button></td>
        <td><button ng-click="makeMove(1)">{{currentGrid[1]}}</button></td>
        <td><button ng-click="makeMove(2)">{{currentGrid[2]}}</button></td>
    </tr>
    <tr>
        <td><button ng-click="makeMove(3)">{{currentGrid[3]}}</button></td>
        <td><button ng-click="makeMove(4)">{{currentGrid[4]}}</button></td>
        <td><button ng-click="makeMove(5)">{{currentGrid[5]}}</button></td>
    </tr>
    <tr>
        <td><button ng-click="makeMove(6)">{{currentGrid[6]}}</button></td>
        <td><button ng-click="makeMove(7)">{{currentGrid[7]}}</button></td>
        <td><button ng-click="makeMove(8)">{{currentGrid[8]}}</button></td>
    </tr>
</table>