<h2 class="headerColour">Settings</h2>
<br>
<div class="playerSetting headerColour">
    <h3>Player 1</h3>
    <select ng-model="model.playerManager.player1Type" ng-options="value as type for (type, value) in model.playerManager.playerTypes">
        <option value="">-- choose player type --</option>
    </select>
    <select ng-model="model.playerManager.player1Icon">
        <option>Noughts</option>
        <option>Crosses</option>
    </select>
</div>
<br>
<div class="playerSetting headerColour">
    <h3>Player 2</h3>
    <select ng-model="model.playerManager.player2Type" ng-options="value as type for (type, value) in model.playerManager.playerTypes">
        <option value="">-- choose player type --</option>
    </select>
</div>

<Button class="menuButton bottomButton" ng-click="model.setupBoard()" ng-disabled="!model.playerManager.canPlay()">PLAY</button>