<h2 class="headerColour">Settings</h2>
<br>
<div class="playerSetting headerColour">
    <h3>Player 1</h3>
    <select ng-model="model.player1Type" ng-options="type.value as type.name for type in model.playerTypes">
        <option value="">-- choose player type --</option>
    </select>
    <select ng-model="model.player1Icon">
        <option>Noughts</option>
        <option>Crosses</option>
    </select>
</div>
<br>
<div class="playerSetting headerColour">
    <h3>Player 2</h3>
    <select ng-model="model.player2Type" ng-options="type.value as type.name for type in model.playerTypes">
        <option value="">-- choose player type --</option>
    </select>
</div>

<Button class="menuButton bottomButton" ng-click="model.setupBoard()" ng-disabled="!model.canPlay()">PLAY</button>